.main-header {
  position: relative;
  padding-top: 30px;
  padding-bottom: 35px;
  min-height: 120px;

  background-image: $black-to-bottom;

  z-index: 10;

  @include vp-1023 {
    padding-top: 20px;
    padding-bottom: 25px;
    min-height: 100px;
  }

  @include vp-767 {
    padding-top: 10px;
    padding-bottom: 15px;
    min-height: 70px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.main-header__inner {
  display: flex;
  align-items: flex-start;
}

.main-header__logo {
  display: inline-block;
  flex-basis: 215px;
  flex-shrink: 0;
  flex-grow: 0;
  height: 55px;
  margin-right: 38px;

  vertical-align: middle;

  @include vp-767 {
    flex-basis: 35px;
    height: 35px;
    margin-top: 5px;
  }
}

.main-header__logo-icon {
  &--desktop {
    @include vp-767 {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @include vp-767 {
      display: inline;
    }
  }
}

.main-header__logo[href] {
  @include focus {
    outline: 1px solid $color-alice-blue;
    outline-offset: 2px;
  }

  @include hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
    transition: none;
  }
}

.main-header__button {
  flex-basis: 160px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 60px;
  margin-left: auto;
  margin-top: 5px;
  max-width: 200px;
  padding: 11px 16px;

  font-size: 14px;
  line-height: 16px;

  border: 1px solid $color-alice-blue;
  outline: none;
  transition: color $trans-default;

  @include vp-1023 {
    display: none;
  }

  @include focus {
    outline: 1px solid $color-alice-blue;
    outline-offset: 0;
  }

  @include hover {
    color: $color-alice-blue-opacity-70;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-nav {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  margin-top: 5px;

  color: $color-alice-blue;
  line-height: 18px;

  @include vp-1023 {
    margin-top: 0;
  }
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;
  list-style-type: none;

  @include vp-1023 {
    justify-content: flex-end;
  }
}

.main-nav__item {
  margin-right: 27px;
  flex-basis: 11.71vw;
  flex-shrink: 1;
  flex-grow: 0;

  @include vp-1023 {
    flex-basis: auto;
    margin-right: 20px;
  }
}

.main-nav__item:last-child {
  @include vp-767 {
    margin-right: 10px;
  }
}

.main-nav__link {
  display: inline-flex;
  padding-top: 10px;
  padding-bottom: 10px;

  color: inherit;
  user-select: none;
  vertical-align: middle;

  transition: opacity $trans-default;

  @include vp-1023 {
    padding: 10px;
  }

  @include focus {
    outline: 1px solid $color-alice-blue;
    outline-offset: 2px;
  }

  @include hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.4;
    transition: none;
  }
}

.main-nav__link span {
  margin-left: 15px;

  @include vp-1023 {
    display: none;
  }
}
